/* Color Variables  */
:root {
  --blue: #4682ea;
  --red: #e8453c;
  --green: #39ca74;
}
#infoTitle {
  background: linear-gradient(
                 rgba(20,20,20, .0),
                 rgba(20,20,20, .6)),
                 url( ../images/infoCenter/lady_justice.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  min-height: 40vh;
  padding-left: 10px;
  padding-right: 10px;
}

#mapid { max-height: 60%; }

.red{
  color: var(--red);
  font-weight: bold;
}
.drop-shadow{
  filter: drop-shadow( 3px 3px 3px #000 );
}

.map-text {
    font-size: 120%;
    text-align: left;
}

.safe-panel {
  background-color: var(--blue);
  color: white;
  border-radius: none;
}

.panel-default .blue-background {
  background-color: var(--blue);
  color: white;
}

.blue-background .panel-title {
  color: white;
}

.panel-title {
  font-weight: 300;
  color: black;
  font-size:400%;
}

.fat-row{
margin-top: 30px;
margin-bottom: 40px;
padding-top: 0px;
padding-bottom: 20px;
text-align: center;
padding-left: 10px;
padding-right: 10px;
}

.docItem{
  background-color: #F2F2F2;
  padding-left: 10px;
  padding-right: 10px;
}

.btn-large{
  padding: 15px;
  font-size: 140%;
}
.primary-section {
  min-height: 30vh;
  padding-top:10vh;
}
.info-section {
    background-color: black;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.outline{
    outline: 1px solid;
}

.concerns {
  background-color: #2677a0;
  color: white;
  font-size: 125%;
}

.concernNumbers {
  font-size: 110%;
  font-style: italic;
  color: #daa520;
}

.big {
  font-size: 180%;
}

.med {
  font-size: 140%;
}

.button-padding {
    margin-top:15px;
    margin-bottom:15px;
}

/* MOBILE VIEW */
@media (max-width: 768px) {
  .primary-section {
    min-height: 20vh;
    padding-top:10vh;
    font-size: 70%;
  }
}
