.newstitle {
  min-height: 20vh;
  padding-top:10vh;
  text-align: center;
}

.news-btn {
  margin-bottom: 5px;
}

.text-section {
  background-color: #F2F2F2;
}

.primary-section {
  min-height: 30vh;
  padding-top:10vh;
}
